<%- include("partials/header"); -%>
   <h1>AUTOMATIC NUMBER PLATE RECOGNITION</h1>
   <div class="row m-5">
    <div class="row">
        <div class="col-sm-4"> <img src="https://www.roboplate.com/img/roboplate-camera-features.jpg" alt=""></div>
        </div>
      </div>
   </div>
<%- include("partials/footer"); -%>

   